@media screen and (max-width: 480px) {
    .login, #side-c2, .promo-2, .search, .bag img, .social-info {
        display: none;
    }

    .menu {
        width: 100%;
        clear: both;
        position: absolute;
        left: 0;
        top: 47px;
        background-color: white;
        z-index: 99999;
        margin-top: -100%;
        transition: display 1s, margin-top 1s;
        display: none;
    }

    .menu-visible {
        display: inline-block;
        margin-top: 0;

    }

    .menu li {
        margin: 5%;
        font-weight: bold;
        display: block;
        font: 30px "Open Sans", sans-serif;
    }

    .main-content {
        height: 47px;
        padding-right: 0;
        display: flex;
    }

    .main-logo {

    }

    .tablet-promo-2 {
        display: inline-block;
    }

    .tablet-menu {
        display: inline-block;
        padding-right: 5%;
        box-sizing: border-box;
        cursor: pointer;
        margin-left: auto;
    }

    .tablet-menu img {
        max-height: 49px;
        align-self: center;
    }

    #side-c1 {
        width: 100%;
    }

    .login-bag {
        display: inline-block;
        align-self: center;
        float: left;
        margin-left: 11%;
        min-width: 0;
        width: auto;
    }

    .bag {
        text-align: center;
        font-size: 12px;
        height: inherit;
        margin: 0;
        min-width: 0;
    }

    .lists-container section {
        width: 40%;
        float: left;
        padding-top: 8%;
        padding-bottom: 11%;

    }

    /*-----------------*/
    .lists-container {
        display: block;
        overflow: hidden;
        padding: 0;
        margin-bottom: -53px;
    }

    .lists-container ul {
        margin-top: 30px;
    }

    .lists-container li {
        margin-bottom: 19px;
    }

    .phone {
        margin-left: 4%;
    }

    .right-content {
        margin-top: 6px;
    }

    .desk-footer {
        padding: 0 4.5%;
    }

    .footer2-left-block {
        width: 67%;
        padding: 25px 0;
    }

    .footer2-medium-block {
        width: 16%;
        float: right;
        padding: 19px 0;
    }

    /*------------------*/
    .lists-container section:nth-child(3), .lists-container section:nth-child(4) {
        border-top: 1px solid lightgray;

    }

    .quick-links {
        font-size: 15px;
        padding-right: 4.5%;
        padding-left: 15.5%;
    }

    .quick-links-padded-left {
        padding-left: 4.5%;
        font-size: 15px;
    }

    .quick-links-padded-left img {
        display: none;
    }

    .footer2-right-block {
        display: none;
    }

    .mobile-footer {
        display: flex;
        min-height: 66px;
        padding: 0 4.5%;
        justify-content: space-between;
        margin: 0 auto;
    }

    .mobile-footer ul {
        min-height: 66px;
        width: 60%;
        display: inline-flex;
        font: bold 12px 'Roboto', sans-serif;
        justify-content: space-between;
        align-items: center;
    }

    .invisible {
        display: none;
    }

    .mobile-footer img {
        display: inline-block;
        margin-right: 4.5%;
    }

    .mobile-footer a {
        align-self: center;
    }

    .main-tumb {
        width: 100%;
    }

    .tumbnail-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .tumb-nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding-left: 0;
    }

    .main-tumb {
        width: 100%;
        margin-bottom: 18px;
    }

    .back-to {
        margin-bottom: 0;
        padding-left: 0%;
    }

    .details-selection {
        width: 100%;
        min-width: 0;
    }

    .title {
        margin-top: 6%;
    }

    .selection-sec {
        flex-wrap: wrap;
    }

    .select-button {
        width: 40%;
        margin-bottom: 25px;
    }

    .add-to-bag {
        margin-top: 18%;
    }

    .end-line {
        padding: 0;
    }
}