@media screen and (max-width: 1080px) and (min-width: 480px) {
    .menu {
        margin: 2% 0;
    }

    .login-bag {
        width: 50%;
        margin-top: 1.6%;
    }

    .form-search {
        width: 2%;
    }

    .search {
        border: none;
        width: 100%;
        margin: 3% 0;
    }

    .search input {
        border-bottom: 2px solid lightgray;
        width: 0;
        transition: width 1s;
    }

    .search button {
        width: 100%;
    }

    .menu {
        width: 100%;
    }

    .social-info, .desk-only {
        display: none;
    }

    .hidden-quick-links {
        display: block;
    }

    .quick-links, .quick-links-padded-left {
        width: 32%;
    }

    .footer2-left-block, .footer2-right-block {
        width: 40%;
        box-sizing: border-box;
    }

    .footer2-medium-block {
        width: 10%;
    }

    .footer2-right-block ul {
        justify-content: space-around;
        text-align: right;
    }

    #side-c1 {
        width: 66.7%;
        margin: 0;
        padding: 0;
        float: left;
    }

    #side-c2 {
        width: 33.3%;
        margin: 0;
        padding: 0;
        float: left;
    }

    .side-info {

        margin-left: 7%;
        margin-top: 3%;

    }

    .side-info h4 {
        padding-bottom: 33px;
    }

    .new-arrivals {
        margin-top: 4.3%;
    }

    .bottom-info {
        margin-top: 20%;
    }

    .title {
        padding: 13px 9%;
    }

    .new-arrivals section {
        margin-bottom: 7.5%;
    }

    .title-wrap {
        margin-top: 8px;
    }

    .title-2 {
        padding: 13px 0 13px 10%;
    }

    .shop-ctrl {
        margin: 26px auto 47px auto;
    }

    .lists-container {
        padding: 54px 0 66px 0;
    }

}

@media screen and (max-width: 660px) and (min-width: 480px) {
    .menu li {
        font-size: 11px;
    }

    .login-bag {
        width: 60%;
    }
}